---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Stephen Cooper";
const description =
  "Stephen Cooper, Senior Software Engineer at AG Grid in London.";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h3>About</h3>
    <p>
      Hi, I'm <strong>Stephen</strong>. I'm a senior software engineer at <a
        href="https://www.ag-grid.com"
        target="_blank">AG Grid</a
      >.
    </p>
    <div class="about-container">
      <div>
        <p>
          I enjoy blogging and speaking at conferences and meet-ups about things
          that I have built and learnt.
        </p>
        <p>
          I have over 10 years of industry experience with my previous role at <a
            href="https://www.gresearch.co.uk/"
            target="_blank">G-Research</a
          > building tooling for Market Data Analysts and Quantative Researchers.
        </p>

        <p>
          Now at <a href="https://www.ag-grid.com" target="_blank">AG Grid</a> I
          am focused on ensuring our users have the best developer experience when
          working with the grid.
        </p>
      </div>
      <figure class="about-img">
        <img class="rounded" src="/assets/ngconf23.webp" alt="Stephen Cooper" />
      </figure>
    </div>

    <p>
      Outside of work, my wife and I have four children and two dogs, Coco &
      Rufus!
    </p>
    <div>
      <img
        class="circle"
        src="/assets/coco.webp"
        alt="Coco the dog"
        width="230"
      />
    </div>
  </div>
</BaseLayout>

<style>
  .circle {
    border-radius: 50%;
    margin-bottom: 1.5em;
  }

  .rounded {
    border-radius: 10%;
    margin-top: 1.5em;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  @media (max-width: 600px) {
    .about-container {
      flex-direction: column-reverse;
    }

    .about-img {
      text-align: center;
      margin: 0;
    }
  }
</style>
