---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Stephen Cooper";
const description = "Stephen Cooper, Senior Software Engineer at AG Grid in London. Blogging and speaking about the things that I have learnt.";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Hello I am Stephen!</h1>
      <h3>@SCooperDev</h3>
      <p>
        I'm a senior software engineer at <a
          href="https://www.ag-grid.com"
          target="_blank">AG Grid</a
        > who enjoys blogging and speaking at conferences.
      </p>
      <p>
        Have a look at my latest <a class="" href="/blog">blogs</a> or some of my
        recent <a class="" href="/content">talks</a>.
      </p>
    </div>

    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/profile-pic.webp" media="(min-width: 600px)" />
        <img
          class="hero-image"
          alt="Headshot of Stephen"
          src="/assets/profile-pic.webp"
          width="550"
          height="466"
        />
      </picture>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy h3 {
    margin-top: -1em;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 350px;
    margin-bottom: 1em;
    border-radius: 50%;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 300px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }

    .home-copy h3 {
      margin-top: 0;
    }
  }

  h2 {
    align-self: center;
  }
</style>
