<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Stephen</strong>. I'm a senior software engineer at <a href="https://www.ag-grid.com" target="_blank">AG Grid</a>.
    You can follow / contact me on <a href="https://www.twitter.com/SCooperDev" target="_blank">Twitter</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
